.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 50% 30% 30%; */
    grid-gap: 0em;
    width: 800px;
    /* background-color: blue; */

}

.wrapper div{
    width: 100px;
    height: 100px;
 
}
.red{
    background-color:black;
}
.blue{
    background-color:white;
}
